<% include ../../header %>

<h2>THE ADMIN ZONE | Manage Users</h2>

<table>
  <tr>
    <th class="col-xs-3">Name</th>
    <th class="col-xs-3">Username</th>
    <th class="col-xs-3">Email</th>
    <th class="col-xs-3">Admin?</th>
  </tr>

	<% users.forEach(function(user) { %>
    <tr>
      <td class="col-xs-3"><%= user.name %></td>
      <td class="col-xs-3"><%= user.login %></td>
      <td class="col-xs-3"><%= user.email %></td>
      <td class="col-xs-3"><%= user.admin %></td>
    </tr>
  <% }) %>
</table>

<% include ../../footer %>
