<% include ../header %>

<h1>Selfies</h1>
<!-- <p>newsfeed stuff goes here</p> -->
		<% for(var p in pics) { %>
			<div class="row">
      			<img class="col-md-4" src= <%= "data:image/png;base64," + pics[p] %> />
			<div class="col-md-8"> <p> Question: [Read in from questions] </p>
				<p> Answer1: [Read in from answers1] </p>
				<p> Answer2: [Read in from answers2] </p>
			</div>
			</div>
			<div class="row">
				<p class="col-md-12"> </p>
			</div>
    	<% } %>

<div class="row" id="menu_footer">
	<form action="/logout" method="post">
	<ul>
		<li class="col-sm-1"><a href="/selfies" class="btn btn-link">Home</a></li>
		<li class="col-sm-1"><a href="/settings" class="btn btn-link">Settings</a></li>
		<li class="col-sm-1"><input class="btn btn-link" type="submit" value="Logout"/></li>
	</ul>
	</form>
</div>

<form id="location" action="/matching" method="post">
  	<input id="longitude" type="hidden" name="longitude"/>
  	<input id="latitude" type="hidden" name="latitude"/>
  	<input type="submit" value="Selfie With a Stranger!" class="btn btn-success col-md-3 col-md-offset-2"/>
</form>


<% include ../footer %>
