<% include ../header %>

<div class="row" id="menu_header">
	<h1 class="col-xs-3">Selfies</h1>
</div>

<!-- <p>newsfeed stuff goes here</p> -->
<% for(var p in pics) { %>
	<div class="row">
    <img class="col-xs-4" src= <%= "data:image/png;base64," + pics[p] %> />
		<div class="col-xs-8"> <p> Question: Do you believe in ghosts?</p>
			<p> Caleb: As if!</p>
			<p> Oskar: We'll see </p>
		</div>
	</div>
	<div class="row">
		<p class="col-md-12"> </p>
	</div>
<% } %>

<div class="row" id="menu_footer">
	<ul>
    <li class="col-xs-2"><a href="/selfies" class="btn btn-link">Home</a></li>
		<li class="col-xs-2">
      <form id="location" action="/matching" method="post">
        <input id="longitude" type="hidden" name="longitude"/>
	      <input id="latitude" type="hidden" name="latitutde"/>
        <input type="submit" value="Selfie!" class="btn btn-link"/>
      </form>
    </li>
    <li class="col-xs-2"><a href="/settings" class="btn btn-link">Settings</a></li>
    <li class="col-xs-2"><a href="/logout" class="btn btn-link"/>Logout</li>
  </ul>
</div>

<script type="text/javascript">
  window.addEventListener("DOMContentLoaded", function() {
  getLocation(function(position) {
  var lat = position.coords.latitude;
  var lon = position.coords.longitude;
	document.getElementById("location").onsubmit = function(e) {
	document.getElementById("latitude").value = lat;
	document.getElementById("longitude").value = lon;
  }
	});
  });
</script>


<% include ../footer %>
