<% include ../header %>

<h1>Selfies Newsfeed</h1>
<div>
	<% for(var p in pics) { %>
      		<img src= <%= "data:image/png;base64," + pics[p] %> />
    <% } %>
</div>
<ul>
<li><a href="/selfies">Home</a></li>
<li><a href="/users/nearby">Nearby</a></li>
<li><a href="/schedules/new">Schedule</a></li>
<li><a href="/settings">Settings</a></li>
<li><form action="/logout" method="post"><input type="submit" value="Logout" /></form></li>
</ul>

<% include ../footer %>
