<% include ../header %>

<h1>Selfies</h1>
<!-- <p>newsfeed stuff goes here</p> -->
<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<% for(var p in pics) { %>
      			<img src= <%= "data:image/png;base64," + pics[p] %> />
    	<% } %>
	</div>
</div>

<div class="row" id="menu_footer">
	<form action="/logout" method="post">
	<ul>
		<li class="col-sm-1"><a href="/selfies" class="btn btn-link">Home</a></li>
		<li class="col-sm-1"><a href="/users/nearby" class="btn btn-link">Nearby</a></li>
		<li class="col-sm-1"><a href="/schedules/new" class="btn btn-link">Schedule</a></li>
		<li class="col-sm-1"><a href="/settings" class="btn btn-link">Settings</a></li>
		<li class="col-sm-1"><input class="btn btn-link" type="submit" value="Logout"/></li>
	</ul>
	</form>
</div>

<% include ../footer %>
