<% include ../header %>

<h1>Take Some Pictures!</h1>
<video id="video" width="640" height="480" autoplay></video>
<button id="snap">Snap Photo</button>
<h2>Choose Your Picture!</h2>
<p id="message"></p>
<div id="pictures">
</div>

<form action="/selfies" method="post">
  <input type="submit" value="Done!" />
</form>
<a href="/selfies">Cancel</a>

<% include ../footer %>
