<% include ../header %>

<h1>Nearby</h1>
<a href="/selfies">Back</a>
<ul>
	<% users.forEach(function(user) { %>
	<li><a href="/matches/<%= user.username %>"><%= user.name %></a></li>
	<% }) %>
</ul>

<% include ../footer %>
