<% include ../header %>

<h1>Sign Up!</h1>
<form method="post" action="/users/">
  <%- flash() %>
  <fieldset>
    <label for="email">Email</label>
    <input type="text" name="email" value="<%= user.email %>"/>
  </fieldset>

  <fieldset>
    <label for="username">Username</label>
    <input type="text" name="username" value="<%= user.username %>"/>
  </fieldset>

  <fieldset>
    <label for="name">Name</label>
    <input type="text" name="name" value="<%= user.name %>" />
  </fieldset>

  <fieldset>
    <label for="password">Password</label>
    <input type="password" name="password" />
  </fieldset>

	<input type="submit" value="Sign Up" />
</form>

<% include ../footer %>
