<% include ../header %>

<h1>THE ADMIN ZONE</h1>

<div class="row">
	<ul>
  		<li><a href="/admin/questions" class="btn btn-link col-xs-12">Manage Questions</li>
	  	<li><a href="/admin/locations" class="btn btn-link col-xs-12">Manage Locations</li>
  		<li><a href="/admin/users" class="btn btn-link col-xs-12">Manage Users</li>
	</ul>
</div>
<% include ../footer %>
