<% include ../header %>

<h1>THE ADMIN ZONE</h1>

<ul>
  <li><a href="/admin/questions">Manage Questions</li>
  <li><a href="/admin/locations">Manage Locations</li>
  <li><a href="/admin/users">Manage Users</li>
</ul>

<% include ../footer %>
