<% include ../header %>
<h1>Schedule a Selfie!</h1>

<div id="schedule-selfie">
Waiting for a match...
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">
  function checkForMatch() {
    $.get("/matching/status", function (res) {
      location.href = "/schedule"
    })
  }

  checkForMatch()
  setInterval(checkForMatch, 1000);
</script>

<% include ../footer %>
