<% include ../header %>
<h1>Schedule</h1>
<div class="row">
	<a href="/selfies/new" class="col-md-6 btn btn-link">Take Picture</a>
	<a href="/selfies" class="col-md-6 btn btn-link">Back</a>
</div>

<% include ../footer %>
