<% include ../header %>
<h1>Schedule a Selfie!</h1>

<div id="schedule-selfie"><%= location.name %></div>
<div id="schedule-map"></div>

<script type="text/javascript">
var destination = {
    lat: <%= location.lat %>,
    lon: <%= location.lon %>,
}
var proposal = {
    id: "<%= proposal.id %>"
}
</script>

<% include ../footer %>
