<% include ../header %>

<h1>It's a Match!</h1>
<a href="/users/nearby">Back</a>

<div class="partner">
	<h2><%= other_user.name %></h2>
	<p>5ft from here</p>
</div>

<form action="/selfies/new?question=<%= question.id %>">
	<h2>Question</h2>
	<fieldset>
		<label for="question"><%= question.question %></p>
		<textarea name="question"></textarea>
	</fieldset>
	<input type="submit" value="Selfie!" />
</form>

<% include ../footer %>
