<!DOCTYPE html>
<html>

  <head>
    <title>Selfie with Strangers | Login</title>

    <link rel="stylesheet" href="<%= static_file("/css/reset.css") %>" media="screen" />
    <link rel="stylesheet" href="<%= static_file("/css/main.css") %>" media="screen" />
    <% stylesheets.forEach(function(path) { %>
    <link rel="stylesheet" href="<%= static_file(path) %>" media="screen" />
    <% }) %>
  </head>

  <body>
    <div id="wrap">
      <h1 id="logo"><img src="<%= static_file("/img/icon.png") %>" alt="Selfie with Strangers" class="logo-icon" /></h1>
