<% include header %>

<a href="/selfies">selfies</a>

<form action="/login" method="POST">
	<fieldset>
		<input type="text" name="username" value="username" />
	</fieldset>
	<fieldset>
		<input type="password" name="password" value="password" />
	</fieldset>
	<fieldset>
		<input type="submit" value="Login"/>
	</fieldset>
</form>

<% include footer %>
