<h1>Newsfeed</h1>
<p>newsfeed stuff goes here</p>
<ul>
<li><a href="/newsfeed">Home</a></li>
<li><a href="/nearby">Nearby</a></li>
<li><a href="/schedule">Schedule</a></li>
<li><a href="/settings">Settings</a></li>
<li><a href="/">Logout</a></li>
</ul>