<% include header %>

<h1>Settings</h1>

<form method="post" action="/settings">
  <%- flash() %>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control col-xs-9" placeholder="Enter email" name="email" value="<%= user.email %>" />
  </div>

  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="Enter username" class="form-control col-xs-9" value="<%= user.username %>" />
  </div>

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" name="name" placeholer="Enter name" class="form-control col-xs-9"  value="<%= user.name %>" />
  </div>

  <div>
    <label for="password">New Password</label>
    <input type="password" placeholder="Enter password" class="form-control col-xs-9" name="password" />
  </div>

  <div class="row">
	<input class="col-xs-2 btn btn-success" type="submit" value="Update" />
	<a class="btn btn-cancel" href="/selfies" role="button">Cancel</a>
  </div>
</form>

<% include footer %>
