<% include header %>

<h1>Settings</h1>

<div class="row">
	<a href="/selfies" class="btn btn-link">Change email</a>
</div>
<div class="row">
	<a href="/selfies" class="btn btn-link">Back</a>
</div>

<% include footer %>
