<% include ../../header %>

<h1>THE ADMIN ZONE | Manage Questions</h1>

<a href="/admin/questions/new">+ Question</a>

<table>
	<% questions.forEach(function(question) { %>
    <tr>
      <td><%= question.question %></td>
      <td><a href="/admin/questions/<%= question.id %>">edit</a></td>
      <td>
        <form action="/admin/questions/<%= question.id %>?_method=delete" method="post">
          <input type="submit" value="delete"/>
        </form>
      </td>
    </tr>
  <% }) %>
</table>

<% include ../../footer %>
