<% include ../../header %>

<form action="/admin/questions" method="post">
  <fieldset>
    <label for="question">Question</label>
    <textarea name="question"></textarea>
  </fieldset>
  <input type="submit" value="Add Question" />
</form>

<% include ../../footer %>
