<% include ../../header %>

<form action="/admin/questions" method="post">
  <%- flash() %>
  <fieldset>
    <label for="question">Question</label>
    <textarea name="question"><%= question %></textarea>
  </fieldset>
  <input type="submit" class="btn btn-success" value="Add Question" />
</form>

<% include ../../footer %>
