#logo {
	position: fixed;
	width: 100%;
	left: 80%;
	top: 5%;
	background: #ffffff;
}

#logo .logo-icon {
        width: 100px;
}

#wrap {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 10%;
}

#wrap form {
    margin-top: 40px;
}

#menu {
    max-width: 300px
}

#wrap form input[type="text"], #wrap form input[type="password"]{
    font-size: 18px;
    margin-bottom: 10px;
    width: 100%;
}

.selected {
    outline-style: solid;
    outline-width: 2px;
    outline-color : blue;
}

video {
    position: relative;
}

#menu_footer {
    position: fixed;
    bottom: 0;
    background: #ffffff;
    width: 100%;
}

#schedule-map {
    height: 400px;
    width: 100%;
}
