<VirtualHost *:80>
    ServerName app.selfiewithstrangers.club

    DocumentRoot            /var/www/app.selfiewithstrangers.club
    Options                 -Indexes

    ErrorLog                /var/log/apache2/selfiewithstrangers.club-error.log
    CustomLog               /var/log/apache2/selfiewithstrangers.club-access.log common

    <Directory /var/www/app.selfiewithstrangers.club>
        AllowOverride All
        Order allow,deny
        allow from all
        DirectoryIndex index.html

        SetOutputFilter DEFLATE

        Header set Cache-Control "public"
    </Directory>
</VirtualHost>