description "app"

#start on (local-filesystems and net-device-up IFACE=eth0)
#stop on shutdown

start on runlevel [2345]
stop on runlevel [!2345]

console log

respawn
respawn limit unlimited

script
    echo $$ > /var/run/app.pid
    exec sudo -u app NODE_ENV={{ ansible_env }} /opt/app/bin/app
end script

pre-stop script
    rm /var/run/app.pid
end script